.feeback{
    display: flexbox;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 5px;
    box-shadow: 2px 2px rgb(171, 171, 171);
}
.feedback-left{
    height: 300px;
    background-color: rgb(225, 80, 80);
}
.feedback-content{
    margin-top: 10%;
    text-align: center;
    font-family: 'kanit',sans-serif;
    font-size: x-large;
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px black;
}
.feedback-tagline{
    margin-top: 10%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: 800;
    color: white;
    text-shadow: 2px 2px black;
}
.inputs-user{
    margin-top: 20px;
    border-radius: 2px;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 2px 2px rgb(188, 188, 188);
}
.inputs-user-submit{
    margin-top: 20px;
    border-radius: 2px;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 2px 2px rgb(188, 188, 188);
    color: white;
    background-color: rgb(220, 61, 61);
}