.logo{
    height: 60px;
    width: 170px;
}
.sign-up-btn{
    border-radius: 50%;
    margin-left: 10px;
    border: 1px solid red;
}
nav{
    background-color: white;
    border: 2px solid rgb(206, 206, 206);
}
.nav-item{
    font-size: large;
    font-weight: 300;
    padding: 10px;
    font-family: 'Kanit', sans-serif;
}

.nav-item .nav-link:hover{
    background-color: rgb(212, 71, 71);
    color: rgb(255, 255, 255);
    border-radius: 10px;
}
.form-control{
    border: 1px solid black;
}
a{
    text-decoration: none;
}
