.land-img{
    height: 580px;
}
.offer-zone{
    background-color: rgb(255, 255, 255);
    display: flex;
}
.offerzone-img{
    height: 280px;
    width: 300px;
    box-shadow: 2px 2px black;
}
.gap{
    margin-top: 50px;
}
.btn{
     position: absolute;
     top: 70%;
     left: 13%;
     transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     background-color: rgb(220, 46, 46);
     color: white;
     font-family: 'Kanit', sans-serif;
     font-size: 16px;
     padding: 12px 24px;
     border: none;
     cursor: pointer;
     border-radius: 5px;
}
.land-content{
    position: absolute;
     top: 50%;
     left: 23%;
     transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     color: rgb(255, 255, 255);
     text-shadow: 4px 3px black;
     font-family: 'Kanit', sans-serif;
     font-size: 40px;
     font-weight: 600;
     padding: 12px 24px;
     border: none;
     cursor: pointer;
     border-radius: 5px;

}

.footer-back
{
    background-color: rgb(33, 33, 33);
    display: flex;
    font-family:'Kanit', sans-serif;
    font-weight: 400;
    color: white;
    text-align:left;
}

.footer-tag{
    font-family: 'kanit',sans-serif;
    text-align: center;
    word-spacing: 5px;
}
.poster-tagline{
    font-size: x-large;
    font-weight: 500;
    font-family: 'kanit',sans-serif;
}
.poster-1{
    width: 1150px;
}
hr{
    background-color: rgb(164, 164, 164);
}