
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Iceland&family=Kanit&family=Londrina+Shadow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body> 

    <!--LandingPage-->
        <div class="landing">
            <div class="landing-img">
                <h3 class="land-content"> <span class="differnce">Hurry Up!</span><br><span class="differnce">Grab </span>Your <span class="differnce">offers</span> soon<br> and get<span class="differnce"> benifited!</span></h3>
                <img class="land-img d-block w-100" src="assets/images/carosel2.jpg" alt="landingpage-img">
                <a href="#products"><button class="btn">Shop now</button></a> 
            </div>
        </div>

   <!--product and poster-->
   <div class="container">
        <div class="gap"></div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
            <h2 class="poster-tagline main"><span class="dotted-line">---------</span>Top Categories To Choose From<span class="dotted-line">---------</span></h2>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="gap"></div>
        <div class="row">
            <img class="poster-1" src="assets/images/post1.jpeg" alt="availableposter">
        </div>
        <div class="gap"></div>
        <div class="row">
            <img class="poster-1" src="assets/images/post3.jpeg" alt="availableposter">
        </div>
   </div>
    <div class="gap"></div>
    <div id="products" class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
        <h2 class="poster-tagline"><span class="dotted-line">--------------</span>Sigma Male Products<span class="dotted-line">--------------</span></h2>
        </div>
        <div class="col-md-3"></div>
    </div>   
    </div>
   <app-product></app-product>
   <div class="gap"></div>
   <div class="container">
   <div class="row">
       <div class="col-md-3"></div>
       <div class="col-md-6">
       <h2 class="poster-tagline"><span class="dotted-line">------------</span>Fancy Female collections<span class="dotted-line">-----------</span></h2>
       </div>
       <div class="col-md-3"></div>
   </div>   
   </div>
   <app-product></app-product>
   <div class="gap"></div>

    <!--feedback-->
    
    <div class="gap"></div>
    <div id="feedback" class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
        <h2 class="poster-tagline"><span class="dotted-line">--------------</span> Feedback <span class="dotted-line">--------------</span></h2>
        </div>
        <div class="col-md-3"></div>
    </div>   
    </div>
    <div class="gap"></div>
    <app-feedback></app-feedback>

    <!--offerzone-->
      <!-- <div class="offer-zone">
        <div class="container">
            <div class="gap"></div>
            <div class="row">
                <div class="col">
                    <img class="offerzone-img" src="assets/images/post4.jpeg" alt="offerzone">
                </div>
                <div class="col"></div>
            </div>
        </div>
      </div> -->

     
      <!--contact-->
      <div class="gap"></div>
      <div id="contact" class="container">
      <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
          <h2 class="poster-tagline"><span class="dotted-line">--------------</span> Contact <span class="dotted-line">--------------</span></h2>
          </div>
          <div class="col-md-3"></div>
      </div>   
      </div>
      <div class="gap"></div>

      <div class="container">
        <div class="row">
            <div class="col">
                <div class="contact">
                <i id="contact-info" class="fa fa-phone" aria-hidden="true"> 91 9790778113</i>
                </div>
            </div>
            <div class="col">
                <div class="contact">
                  <i  class="fa fa-map-marker" aria-hidden="true">chennai</i>
                </div>
            </div>
            <div class="col">
                <div class="contact">
                    <i class="fa fa-envelope" aria-hidden="true"> smlogasubramani@gmail</i>
                </div>
            </div>
        </div>
      </div>
      <div class="gap"></div>
      <!--footer-->
      <div class="footer">
        <div class="footer-back">            
            <div class="container">
                <div class="gap"></div>
                <div class="row">
                    <div class="col">
                        <h5>Get to Know Us</h5>
                        <ul>
                            <li>About us</li>
                            <li>services</li>
                            <li>Careers</li>
                            <li>PressRelease</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h5>Connect With Us</h5>
                        <ul>
                            <li>Phone</li>
                            <li>Facebook</li>
                            <li>Instagram</li>
                            <li>Twitter</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h5>Make Money With us</h5>
                        <ul>
                            <li>Sell on Econnect</li>
                            <li>Purchase on Econnect </li>
                            <li>Become a Affliate</li>
                            <li>Advertise Your products</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h5>Let us Help You</h5>
                        <ul>
                            <li>Covid-19 and Econnect</li>
                            <li>Return Center</li>
                            <li>Your Account</li>
                            <li>Help</li>
                        </ul>
                    </div>
                </div>
                <div class="gap"></div>
                <hr>
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                    <p class="footer-tag">Made With <i class="fa fa-heart" aria-hidden="true"></i>  Team Connectverse</p>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
      </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
